# Ignorar todo en estas carpetas excepto los archivos .gitkeep
data/installations/*
!data/installations/.gitkeep
data/states/*
!data/states/.gitkeep


# Ignorar archivos y carpetas específicos de Replit
.replit
.repl
*.repl
replit.nix
.cache/
.config/
.upm/

# Ignorar entornos virtuales
venv/
*.pyc
__pycache__/

# Ignorar archivos de breakpoints
.breakpoints